################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/videos/India Bobbles%27 Daku Sambhar Singh Bobblehead Video.mp4
/.vs
